.filter__container {
  padding: 20px;
  border-top: v.$media-viewer-standard-border;
  border-right: v.$media-viewer-standard-border;
  border-left: v.$media-viewer-standard-border;
  margin: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
}

.top-filter__container {
  display: flex;
  justify-content: space-between;
}

.dropdown-filter__container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.bottom-filter__container {
  display: flex;
  justify-content: space-between;
}

.media-view__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  border: v.$media-viewer-standard-border;
  margin: 0 30px 30px;
}

// TODO: come back and do this https://css-tricks.com/zooming-images-in-a-grid-layout/
// TODO: screen quality was so bad that I had to look at an angle to spot styling differences
// TODO: explain mixins and variables

// TODO: come back and do the chevron. css below for it
// .chevron {
//   position: relative;
//   display: block;
//   height: 50px; /*height should be double border*/
// }

// .chevron::before,
// .chevron::after {
//   position: absolute;
//   display: block;
//   content: '';
//   border: 15px solid transparent; /*adjust size*/
// }

// /* Replace all text `top` below with left/right/bottom to rotate the chevron */

// .chevron::before {
//   top: 0;
//   border-top-color: #b00; /*Chevron Color*/
// }

// .chevron::after {
//   top: -10px; /*adjust thickness*/
//   border-top-color: #fff; /*Match background colour*/
// }
