.media-item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

.media-item__poster {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

// TODO: try this style again later to fill covers on screen
// .media-item__poster {
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%;
// }
