<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

  <title>Candidate Exercise</title>
</head>

<body>
  <div class="exercise-header">
    <h2>Exercise 1 - Testimonial Block</h2>
  </div>

  <div>
    <div>
      <div>
        <p>Gingerbread tart cupcake cake muffin cookie liquorice tiramisu. Toffee cupcake cake cake croissant icing carrot cake cookie. Dessert chocolate bar apple pie sesame snaps liquorice carrot cake cookie danish.</p>
        <span>Indiana Jones, Archaeologist</span>
      </div>
      <a>Tell Me More</a>
    </div>
  </div>

  <div class="exercise-header">
    <h2>Exercise 2 - Filterable Content</h2>
  </div>

  <div>[Exercise 2 Here]</div>

</body>

<footer>
  <script src="../js/index.js"></script>
</footer>
</html>
