<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <!-- TODO: Not working. Try fix this link to keep the HTML the same -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400"
      rel="stylesheet"
    />
    <!-- TODO: This one works -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
      type="text/css"
    /> -->

    <title>Candidate Exercise</title>
  </head>

  <body>
    <div id="root"></div>
  </body>

  <footer>
    <script type="module" src="../js/index.jsx"></script>
  </footer>
</html>
