$media-viewer-border-colour: #e3e4e3;
$filter-text-colour: #888888;
$filter-background-colour: #f9f9f9;
$filter-border-colour: #dedede;

$media-viewer-standard-border: 2px solid $media-viewer-border-colour;
